__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints
.env
.venv/
.vscode/
.DS_Store
*.png
*.pdf
*.jpeg

data/*
!data/.gitkeep

models/*
!models/.gitkeep

outputs/*
!outputs/.gitkeep

.claude

__pycache__

forposter
icassp
logs
new_LSTM
outputs
test
tests
Thesis
etc
experiment_runs
